# Prerequisites
*.d

# Directories
.vs/
bin/
bin-int/
debug/
release/
x64/
x86/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.user

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
